<div class="settings">
  <mat-card>
    <mat-card-header>
        <mat-card-title>
          Settings
        </mat-card-title>
        <mat-card-subtitle>
            <p><sup>*</sup><i>The configuration file is saved locally only.</i></p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row">
        <div fxFlex="20">
          <mat-form-field>
              <mat-label>Trading Platform</mat-label>
              <mat-select [(value)]="selectedPlatform">
                  <mat-option value="bitmex">BitMex</mat-option>
                  <mat-option value="kraken">Kraken</mat-option>
                  <mat-option value="Binance">Binance</mat-option>
              </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="20">
            <mat-form-field>
                <mat-label>Default Loading Page</mat-label>
                <mat-select [(value)]="selectedPage">
                    <mat-option value="account">Account</mat-option>
                    <mat-option value="trade">Trade</mat-option>
                    <mat-option value="history">History</mat-option>
                    <mat-option value="settings">Settings</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
      </div>
      <div fxLayout="row">
          <div fxFlex="20">
            <mat-form-field>
                <mat-label>Shuttle Theme</mat-label>
                <mat-select [(value)]="selectedTheme">
                    <mat-option value="dark">Dark</mat-option>
                    <mat-option value="light">Light</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="20">
            <mat-form-field>
                <mat-label>Default Side Bar State</mat-label>
                <mat-select [(value)]="selectedSidebar">
                    <mat-option value="descriptive">Descriptive</mat-option>
                    <mat-option value="sleek">Sleek</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
      </div>
      <h3 style="font-size: 20px;">Keys</h3>
      <div fxLayout="row">
        <div fxFlex="20">
          <mat-form-field class="example-full-width">
            <mat-label>Account Platform</mat-label>
            <mat-select [(value)]="accountPlatform">
                <mat-option value="bitmex">BitMex</mat-option>
                <mat-option value="kraken">Kraken</mat-option>
                <mat-option value="Binance">Binance</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="20">
            <mat-form-field class="example-full-width">
                <input [(ngModel)]="accountName" matInput placeholder="Name for Account">
            </mat-form-field>
          </div>
        <div fxFlex="20">
            <mat-form-field class="example-full-width">
                <input [(ngModel)]="apiKey" type="password" matInput placeholder="BITMEX API KEY">
            </mat-form-field>
        </div>
      </div>
      <mat-card-actions>
          <a class="save-button" mat-raised-button (click)="saveConfiguration()">Save</a>
          <span *ngIf="success" class="success-save">Saved Successfully.</span>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
