.platform-container {
  height: 100%;
}

.mat-sidenav {
  width: 5%;

  &.toggled {
    width: 8%;
  }

  .mat-flat-button{
    height: 4rem;
    width: 100%;
    border-radius: 0;

    &:hover {
      opacity: 0.8;
    }

    &:first-child {
      margin-top: 25px;
    }
    .material-icons{
      font-size: 30px;
    }

    .sidebar-text {
      font-size: 16px;
      font-weight: bold;
      margin-left: 15px;
    }
  }
}

.mat-sidenav-content{
  padding: 15px;
  &.toggled {
    margin-left: 8% !important;
  }
}

.dark {
  color: white;
  & .mat-sidenav {
    background: #2a2a2b;
    color: white;

    & .material-icons {
      color: white;
    }

    & .sidebar-text {
      color: white;
    }

    & .mat-flat-button {
      background: #2a2a2b;
    }
  }

  & .mat-drawer-content {
    background: #3a3a3a !important;
  }

  & .mat-card {
    color: white;
    background: #585858;
  }

  & .mat-form-field-label, .mat-select-value-text, .mat-card-subtitle {
    color: white;
  }

  & .mat-form-field-underline {
    background-color: white;
  }

  & .mat-card-content {
    padding: 15px;
  }

  & .mat-card-actions {
    padding-top: 50px;
  }
}

.light {
  & .mat-sidenav {
    background: #b2b2b4;
    color: black;

    & .material-icons {
      color: black;
    }

    & .sidebar-text {
      color: black;
    }

    & .mat-flat-button {
      background: #b2b2b4;
    }

  }

  & .mat-drawer-content {
    background: #3a3a3a !important;
  }

  & .mat-card {
    background: #212121;
  }
}
