<mat-sidenav-container [ngClass]="'platform-container ' + theme">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" [ngClass]="{'toggled': sidebarToggle}">
    <button [routerLink]="['/platform/account']" mat-flat-button>
      <i class="material-icons">
        account_balance
      </i>
      <span [hidden]="!sidebarToggle" class="sidebar-text">Account</span>
    </button>
    <button [routerLink]="['/platform/']" mat-flat-button><i class="material-icons">show_chart</i>
      <span [hidden]="!sidebarToggle" class="sidebar-text">Trade</span>
    </button>
    <button [routerLink]="['/platform/history']" mat-flat-button><i class="material-icons">restore</i>
      <span [hidden]="!sidebarToggle" class="sidebar-text">History</span>
    </button>
    <button [routerLink]="['/platform/settings']" mat-flat-button><i class="material-icons">settings</i>
      <span [hidden]="!sidebarToggle" class="sidebar-text">Settings</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{'toggled': sidebarToggle}">
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
