/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Exo'
);

@include mat-core($custom-typography);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #d6d5d3;
  margin: 0;
  app-root * {
    font-family: 'Exo', sans-serif;
  }
  overflow-x: hidden;
}

.hidden {
  display: none;
}
.container {
  padding: 15px;
}

.top-movers .mat-card {
  padding: 10px 0 0 0 !important;
}

.mat-card {
  border-radius: 0 !important;
}

.auth-card {

  & .mat-card-header {
    text-align: center;
    border-bottom: solid 1px #c3c3c3;
    & .mat-card-header-text {
      margin-top: 15px;
      width: 100%;
    }
  }
  .mat-card-content {
    padding: 15px !important;
  }

  .mat-card-actions {
    padding: 25px 15px !important;
  }
}

.mat-form-field-ripple {
  background-color: #acbc3f !important;
}

/*.mat-form-field-label {
  color: #acbc3f !important;
}*/

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: #ff0055 !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #ff0055 !important;
}


.trading-platform {
  .mat-tab-label {
    color: white !important;
    font-weight: bold !important;
    padding: 0 10px !important;
    min-width: 140px !important;
  }

  .mat-ink-bar {
    background-color: #c8da42 !important;
    width: 120px;
  }

  .mat-tab-body-wrapper {
    display: none !important;
  }
}



